.new-tweet {
  background-color: #eee;
  margin-left: 2em;
  margin-right: 2em;
  border: 1px solid grey;
  border-radius: 5px;
  display: none;
}

.new-tweet h2 {
  border-bottom: 1px solid black;
  margin-left: 10px;
  margin-right: 10px;
}

.new-tweet form {
  margin-left: 10px;
  margin-right: 10px;
}

.new-tweet form textarea {
  display: block;
  width: 100%;
  padding-left: 0.25em;
  padding-top: 0.35em;
}

.new-tweet form input {
  margin-top: 5px;
  margin-bottom: 10px;
}

.counter {
  float: right;
  margin-top: 7px;
}


@media (max-width: 420px) {
  .container {
    width: 400px;
  }
}